.banner {
  margin-bottom: 130px;
}
.banner .banner-img {
  width: 100%;
}
.banner .container-banner {
  display: flex;
  align-items: end;
}
.banner .text-and-btn {
  background-image: url('../img/banner.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 710px;
  display: flex;
  align-items: end;
  gap: 20px;
  padding: 0 120px 52px;
}
.banner .text-and-btn .text-flex {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 60px;
}
.banner .text-and-btn .text-flex .title {
  font-weight: 500;
  font-size: 74px;
  line-height: 90%;
  color: #FFFFFF;
}
.banner .text-and-btn .text-flex .text {
  color: #FFFFFF;
  font-weight: 500;
  font-size: 18px;
  line-height: 90%;
}
.banner .text-and-btn .text-flex .video-img {
  position: relative;
}
.banner .text-and-btn .btn {
  background-color: #084FFF;
  border-radius: 5px;
  padding: 13px 30px;
  width: max-content;
  cursor: pointer;
  color: #FFFFFF;
}
.banner .text-and-btn .btn:hover {
  background-color: #fff;
  color: #222222;
}
.banner .text-and-btn .video {
  position: relative;
}
.banner .text-and-btn .video .play-btn {
  border: none;
  padding: 13px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.4);
  display: flex;
  cursor: pointer;
  top: 37px;
  position: absolute;
  left: 76px;
}
.banner .text-and-btn .video .video-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 120%;
  text-align: right;
  color: rgba(255, 255, 255, 0.6);
}
.equipment {
  margin-bottom: 130px;
}
.equipment .text-and-images {
  display: flex;
  gap: 10px;
}
.equipment .text-and-images .left-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex: 1 1 0;
}
.equipment .text-and-images .left-text .left-title {
  font-weight: 500;
  font-size: 30px;
  line-height: 110%;
  color: #084FFF;
}
.equipment .text-and-images .left-text .text {
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
}
.equipment .text-and-images .home-card {
  background-color: #EFF4FF;
  border-radius: 5px;
  padding: 15px;
  position: relative;
  flex: 1 1 0;
  min-height: 305px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.equipment .text-and-images .home-card .home-text {
  font-weight: 500;
  font-size: 24px;
  line-height: 110%;
}
.equipment .text-and-images .home-card .image {
  display: flex;
  align-items: end;
  position: absolute;
  bottom: 0;
  right: 0;
}
.equipment .text-and-images .home-card .image .home-img {
  width: 100%;
}
.equipment .text-and-images .home-card .select-equipment {
  border: none;
  background-color: #FFFFFF;
  border-radius: 5px;
  color: #222222;
  padding: 13px;
  z-index: 20;
  width: 100%;
  position: sticky;
  cursor: pointer;
}
.equipment .text-and-images .home-card .select-equipment:hover {
  background-color: #084FFF;
  color: #FFFFFF;
}
.equipment .text-and-images .business-card {
  background-color: #222222;
  border-radius: 5px;
  padding: 15px;
  position: relative;
  flex: 1 1 0;
  min-height: 305px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.equipment .text-and-images .business-card .business-text {
  font-weight: 500;
  font-size: 24px;
  line-height: 110%;
  color: #FFFFFF;
}
.equipment .text-and-images .business-card .image {
  display: flex;
  align-items: end;
  position: absolute;
  bottom: 0;
  right: 0;
}
.equipment .text-and-images .business-card .image .business-img {
  width: 100%;
}
.equipment .text-and-images .business-card .select-equipment {
  border: none;
  background-color: #FFFFFF;
  border-radius: 5px;
  color: #222222;
  padding: 13px;
  z-index: 20;
  width: 100%;
  position: sticky;
  cursor: pointer;
}
.equipment .text-and-images .business-card .select-equipment:hover {
  background-color: #084FFF;
  color: #FFFFFF;
}
.cleaning {
  margin-bottom: 130px;
}
.cleaning .cleaning-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-bottom: 40px;
}
.cleaning .cleaning-top .cleaning-title {
  font-weight: 500;
  font-size: 30px;
  line-height: 110%;
  color: #084FFF;
}
.cleaning .cleaning-top .cleaning-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
}
.cleaning .cleaning-cards {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  margin-bottom: 40px;
  gap: 10px;
}
.cleaning .cleaning-cards .cleaning-card {
  display: flex;
  flex-direction: column;
  border: 1px solid #D9D9D9;
  border-radius: 5px;
  padding: 15px;
  gap: 22px;
}
.cleaning .cleaning-cards .cleaning-card .icon {
  background: #EFF4FF;
  width: 43px;
  height: 43px;
  border-radius: 4px;
  padding: 11px;
}
.cleaning .cleaning-cards .cleaning-card .card-title {
  font-weight: 500;
  font-size: 18px;
  line-height: 110%;
}
.cleaning .cleaning-cards .cleaning-card .card-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
}
.cleaning .button-and-small-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
.cleaning .button-and-small-text .solution {
  border: none;
  border-radius: 5px;
  background: #F3F3F3;
  padding: 13px;
  width: 33%;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  cursor: pointer;
}
.cleaning .button-and-small-text .solution:hover {
  background-color: #084FFF;
  color: #FFFFFF;
}
.cleaning .button-and-small-text .small-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: rgba(34, 34, 34, 0.4);
}
.ready-made-solution {
  margin-bottom: 130px;
}
.ready-made-solution .ready-made {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
.ready-made-solution .ready-made .blue-card {
  border-radius: 5px;
  background-color: #084FFF;
  padding: 40px;
  display: flex;
  flex-direction: column;
  grid-row: span 2;
  justify-content: space-between;
}
.ready-made-solution .ready-made .blue-card .blue-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.ready-made-solution .ready-made .blue-card .blue-text .blue-title {
  color: #FFFFFF;
  font-weight: 500;
  font-size: 30px;
  line-height: 110%;
}
.ready-made-solution .ready-made .blue-card .blue-text .blue-description {
  color: #FFFFFF;
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
}
.ready-made-solution .ready-made .blue-card .orange-btn {
  border: none;
  background-color: #FFB347;
  border-radius: 5px;
  color: #222222;
  padding: 13px;
  cursor: pointer;
  font-weight: 600;
  font-size: 14px;
  line-height: 100%;
}
.ready-made-solution .ready-made .blue-card .orange-btn:hover {
  background-color: #fff;
}
.ready-made-solution .ready-made .ready-card {
  border-radius: 5px;
  padding: 20px;
  display: flex;
  gap: 15px;
  border: 1px solid #D9D9D9;
  position: relative;
  min-height: 280px;
  justify-content: space-between;
}
.ready-made-solution .ready-made .ready-card .text-and-btn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
}
.ready-made-solution .ready-made .ready-card .text-and-btn .ready-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.ready-made-solution .ready-made .ready-card .text-and-btn .ready-text .ready-title {
  font-weight: 500;
  font-size: 24px;
  line-height: 110%;
}
.ready-made-solution .ready-made .ready-card .text-and-btn .ready-text .ready-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
}
.ready-made-solution .ready-made .ready-card .text-and-btn .ready-btn {
  cursor: pointer;
  font-weight: 600;
  font-size: 14px;
  line-height: 140%;
  border: none;
  background: none;
  text-align: left;
}
.ready-made-solution .ready-made .ready-card .text-and-btn .ready-btn:hover {
  color: #084FFF;
  text-decoration: underline;
}
.ready-made-solution .ready-made .ready-card .text-and-btn--office {
  width: 61%;
}
.ready-made-solution .ready-made .filter-office {
  position: absolute;
  bottom: -4px;
  right: 0;
}
.ready-made-solution .ready-made .orange-bottom {
  display: none;
  border: none;
  background-color: #FFB347;
  border-radius: 5px;
  color: #222222;
  padding: 13px;
  cursor: pointer;
}
.integrated-approach {
  margin-bottom: 130px;
}
.integrated-approach .approach-wrapper {
  display: flex;
  gap: 53px;
}
.integrated-approach .approach-wrapper .approach-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
  min-width: 353px;
}
.integrated-approach .approach-wrapper .approach-text .approach-title {
  color: #084FFF;
  font-weight: 500;
  font-size: 30px;
  line-height: 110%;
}
.integrated-approach .approach-wrapper .approach-text .approach-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
}
.integrated-approach .approach-wrapper .phases {
  display: grid;
  grid-template-columns: 0.5fr 1.5fr 3fr;
  row-gap: 30px;
}
.integrated-approach .approach-wrapper .phases .phase > * {
  border-bottom: 1px solid #D9D9D9;
  padding-bottom: 30px;
}
.integrated-approach .approach-wrapper .phases .phase {
  display: contents;
  justify-content: space-between;
  align-items: center;
}
.integrated-approach .approach-wrapper .phases .phase .phase-number {
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  transition: color 0.3s ease;
}
.integrated-approach .approach-wrapper .phases .phase .hover-text {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.integrated-approach .approach-wrapper .phases .phase .hover-text .hover-btn {
  border: none;
  background-color: #EFF4FF;
  border-radius: 5px;
  cursor: pointer;
  padding: 5px;
  font-weight: 600;
  font-size: 14px;
  line-height: 140%;
  width: 94px;
  display: none;
}
.integrated-approach .approach-wrapper .phases .phase .phase-name {
  font-weight: 500;
  font-size: 18px;
  line-height: 110%;
  transition: color 0.3s ease;
}
.integrated-approach .approach-wrapper .phases .phase .phase-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
}
.integrated-approach .approach-wrapper .phases .phase:hover .phase-number,
.integrated-approach .approach-wrapper .phases .phase:hover .phase-name {
  color: #084FFF;
}
.integrated-approach .approach-wrapper .phases .phase:hover .hover-btn {
  display: block;
}
.integrated-approach .approach-wrapper .phases-btn {
  border: none;
  border-radius: 5px;
  background-color: #084FFF;
  padding: 13px;
  color: #FFFFFF;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  grid-column: span 2;
  cursor: pointer;
}
.integrated-approach .approach-wrapper .phases-btn:hover {
  background-color: #FFB347;
  color: #222222;
}
.integrated-approach .approach-mob {
  display: none;
}
.integrated-approach .approach-mob .approach-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
  min-width: 353px;
}
.integrated-approach .approach-mob .approach-text .approach-title {
  color: #084FFF;
  font-weight: 500;
  font-size: 30px;
  line-height: 110%;
}
.integrated-approach .approach-mob .approach-text .approach-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
}
.integrated-approach .approach-mob .question-list {
  display: flex;
  gap: 11px;
}
.integrated-approach .approach-mob .question-list .question-list-one {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}
.integrated-approach .approach-mob .question-list .question-list-one .question {
  position: relative;
  background-color: #EFF4FF;
  padding: 20px;
  border-radius: 5px;
  align-items: center;
}
.integrated-approach .approach-mob .question-list .question-list-one .question .question-and-btn {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.integrated-approach .approach-mob .question-list .question-list-one .question .question-and-btn .question-text {
  font-weight: 500;
  font-size: 18px;
  line-height: 110%;
  color: #222222;
  transition: color 0.3s ease;
}
.integrated-approach .approach-mob .question-list .question-list-one .question .question-and-btn .plus {
  border: none;
  border-radius: 4px;
  background-color: #FFFFFF;
  width: 30px;
  height: 30px;
  cursor: pointer;
  padding: 6.5px;
}
.integrated-approach .approach-mob .question-list .question-list-one .question .question-and-btn .plus-icon {
  transition: transform 0.3s ease;
  transform-origin: center;
}
.integrated-approach .approach-mob .question-list .question-list-one .question .question-and-btn .plus.active .plus-icon {
  transform: rotate(45deg);
}
.integrated-approach .approach-mob .question-list .question-list-one .question .question-and-btn .plus.active {
  color: #084FFF;
}
.integrated-approach .approach-mob .question-list .question-list-one .question .answer {
  display: none;
  position: absolute;
  background-color: #EFF4FF;
  padding: 0 20px 20px 20px;
  z-index: 1;
  border-radius: 5px;
  width: 100%;
  transform: translateX(-20px);
}
.integrated-approach .approach-mob .question-list .question-list-one .question .answer .answer-text {
  color: #222222;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  margin-bottom: 20px;
}
.integrated-approach .approach-mob .question-list .question-list-one .question.active .question-text {
  color: #084FFF;
}
.integrated-approach .approach-mob .question-list .question-list-one .detail {
  background-color: #FFB347;
  border: none;
  border-radius: 5px;
  padding: 15.5px;
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  width: 100%;
  cursor: pointer;
}
.integrated-approach .approach-mob .question-list .question-list-one .detail:hover {
  background-color: #084FFF;
  color: #FFFFFF;
}
.integrated-approach .approach-mob .question-list .phases-btn {
  border: none;
  border-radius: 5px;
  background-color: #084FFF;
  padding: 13px;
  color: #FFFFFF;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  grid-column: span 2;
  cursor: pointer;
}
.integrated-approach .approach-mob .question-list .phases-btn:hover {
  background-color: #FFB347;
  color: #222222;
}
.trust {
  margin-bottom: 130px;
}
.trust .image-and-text {
  display: flex;
  gap: 20px;
}
.trust .image-and-text .smile-girl {
  flex: 1 1 0;
}
.trust .image-and-text .trust-points {
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
  gap: 80px;
}
.trust .image-and-text .trust-points .trust-title {
  color: #084FFF;
  font-weight: 500;
  font-size: 30px;
  line-height: 110%;
}
.trust .image-and-text .trust-points .advantages-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 37px;
}
.trust .image-and-text .trust-points .advantages-cards .advantages-card {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.trust .image-and-text .trust-points .advantages-cards .advantages-card .advantages-img {
  background-color: #EFF4FF;
  border-radius: 4px;
  padding: 14.5px;
  width: 43px;
  height: 43px;
}
.trust .image-and-text .trust-points .advantages-cards .advantages-card .advantages-text {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.trust .image-and-text .trust-points .advantages-cards .advantages-card .advantages-text .advantages-description {
  font-weight: 500;
  font-size: 24px;
  line-height: 110%;
  color: #222222;
}
.trust .image-and-text .trust-points .company-avito {
  display: flex;
  gap: 35px;
  border: 1px solid #D9D9D9;
  border-radius: 5px;
  padding: 18px;
}
.trust .image-and-text .trust-points .company-avito .avito-text {
  display: flex;
  flex-direction: column;
}
.trust .image-and-text .trust-points .company-avito .avito-text .text-and-stars {
  display: flex;
  gap: 5px;
  align-items: center;
}
.trust .image-and-text .trust-points .company-avito .avito-text .text-and-stars .evaluation {
  color: #084FFF;
  font-weight: 700;
  font-size: 14px;
  line-height: 140%;
}
.trust .image-and-text .trust-points .company-avito .avito-text .text-avito {
  font-weight: 400;
  font-size: 12px;
  line-height: 140%;
}
.tasks {
  margin-bottom: 130px;
}
.tasks .tasks-title {
  font-weight: 500;
  font-size: 30px;
  line-height: 110%;
  color: #084FFF;
  text-align: center;
  margin-bottom: 40px;
}
.tasks .adress-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 30px;
  column-gap: 10px;
}
.tasks .adress-cards .adress-card {
  display: flex;
  flex-direction: column;
  gap: 15px;
  position: relative;
}
.tasks .adress-cards .adress-card .adress-text {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.tasks .adress-cards .adress-card .adress-text .adress-title {
  font-weight: 500;
  font-size: 24px;
  line-height: 110%;
}
.tasks .adress-cards .adress-card .adress-text .adress-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: rgba(34, 34, 34, 0.8);
  max-width: 442px;
}
.tasks .adress-cards .adress-card .adress-text .adress-card-btn {
  display: none;
  border: none;
  cursor: pointer;
  background: none;
  text-align: left;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
}
.tasks .adress-cards .adress-card .adress-text .adress-card-btn:hover {
  text-decoration: underline;
  color: #084FFF;
}
.tasks .adress-cards .adress-card .adress-hover-img {
  position: absolute;
  right: 29px;
  bottom: 70px;
  display: none;
}
.tasks .adress-cards .adress-card .adress-hover-img--City {
  right: 29px;
  bottom: 70px;
}
.tasks .adress-cards .adress-card-City {
  grid-row: 2;
}
.tasks .adress-cards .adress-card-Novoglagolevo {
  grid-column: span 2;
}
.tasks .adress-cards .adress-card-Khimki {
  grid-row: 2;
  grid-column: span 2;
}
.tasks .adress-cards .adress-card:hover .adress-hover-img {
  display: block;
}
.tasks .adress-cards .big-img {
  width: 100%;
  height: 320px;
}
.clients {
  margin-bottom: 130px;
}
.questions {
  margin-bottom: 130px;
}
.questions .question-wrapper {
  display: flex;
  gap: 94px;
}
.questions .question-wrapper .question-list .question-list-one {
  width: unset;
}
.questions .question-wrapper .question-numder {
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
}
@media (max-width: 1199px) {
  .banner .text-and-btn {
    padding: 0 15px 55px;
  }
  .banner .text-and-btn .container-banner {
    flex-direction: column-reverse;
  }
  .ready-made-solution .ready-made {
    grid-template-columns: repeat(2, 1fr);
  }
  .tasks .adress-cards {
    grid-template-columns: repeat(2, 1fr);
  }
  .tasks .adress-cards .adress-card-Khimki {
    grid-row: 3;
    grid-column: span 2;
  }
  .tasks .adress-cards .adress-card-City {
    grid-column: 2;
  }
  .tasks .adress-cards .small-img {
    width: 100%;
  }
  .tasks .adress-cards .adress-card:hover .adress-hover-img {
    display: none;
  }
  .tasks .adress-cards .adress-card .adress-text .adress-card-btn {
    display: block;
  }
  .tasks .adress-cards .adress-card .adress-text .adress-description {
    width: unset;
  }
}
@media (max-width: 991px) {
  .banner .banner-img {
    height: 600px;
    object-fit: cover;
  }
  .equipment .text-and-images {
    flex-direction: column;
    gap: 15px;
  }
  .cleaning .cleaning-cards {
    grid-template-columns: repeat(3, 1fr);
  }
  .integrated-approach .approach-wrapper {
    display: none;
  }
  .integrated-approach .approach-mob {
    display: block;
  }
  .integrated-approach .approach-mob .approach-text {
    margin-bottom: 53px;
  }
  .integrated-approach .approach-mob .approach-text .approach-description {
    font-size: 18px;
  }
  .questions .question-list {
    flex-direction: column;
  }
  .questions .question-list .question-list-two,
  .questions .question-list .question-list-one {
    width: 100%;
  }
  .questions .question-wrapper {
    flex-direction: column;
    gap: 0;
  }
  .trust .image-and-text {
    flex-direction: column;
    gap: 30px;
  }
  .trust .image-and-text .trust-points {
    gap: 40px;
  }
  .trust .image-and-text .smile-girl .girl {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .banner,
  .equipment,
  .cleaning,
  .ready-made-solution,
  .integrated-approach,
  .clients,
  .questions,
  .tasks {
    margin-bottom: 80px;
  }
  .banner .text-and-btn .text-flex .title {
    font-size: 54px;
  }
  .banner .text-and-btn .btn {
    width: 100%;
    text-align: center;
  }
  .cleaning .cleaning-top {
    align-items: start;
  }
  .cleaning .cleaning-top .cleaning-description {
    font-size: 18px;
  }
  .cleaning .cleaning-cards {
    grid-template-columns: repeat(2, 1fr);
  }
  .cleaning .cleaning-cards .cleaning-card .card-title,
  .cleaning .button-and-small-text .small-text {
    font-size: 16px;
  }
  .cleaning .button-and-small-text .solution {
    font-size: 16px;
    width: 100%;
  }
  .ready-made-solution .ready-made {
    grid-template-columns: 1fr;
  }
  .ready-made-solution .ready-made .blue-card .blue-description {
    font-size: 18px;
  }
  .ready-made-solution .ready-made .blue-card .orange-btn {
    display: none;
  }
  .ready-made-solution .ready-made .ready-card .text-and-btn .ready-text .ready-title {
    font-size: 22px;
  }
  .ready-made-solution .ready-made .ready-card .text-and-btn .ready-text .ready-description,
  .ready-made-solution .ready-made .ready-card .text-and-btn .ready-text .ready-btn {
    font-size: 16px;
  }
  .ready-made-solution .ready-made .orange-bottom {
    display: block;
    font-size: 16px;
  }
  .ready-made-solution .ready-made .orange-bottom:hover {
    background-color: #084FFF;
    color: #FFFFFF;
  }
  .trust .image-and-text .trust-points .company-avito {
    flex-direction: column;
  }
  .tasks .tasks-title {
    margin-bottom: 30px;
  }
  .tasks .adress-cards {
    display: flex;
    flex-direction: column;
  }
}
